<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Ninetech - Editar Producto</title>
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <section>
            <div class="contain-form">

                    
                <form class="form-create" action="/productos/detalles/editar/<%= producto.id %>?_method=put" method="POST" enctype="multipart/form-data">
                    <div class="form-tittle">
                        <h2 class="tittle">Editar Producto </h2>
                    </div>
                        
                        
                    <div class="form-div">
                        <label class="createLabel" for="nombre">Nombre del producto </label>
                        <input type="text" name="name" id="nombre" value="<%= producto.name %>" required>
                        <% if (locals.errors && errors.name) { %>
                            <p style="color: red;"><%= errors.name.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-div" id="descripcion">
                        <label class="createLabel" for="descripcion" id="descripcion">Descripcion </label>
                        <textarea style="resize: none;" name="description" id="" cols="20" rows="5" required><%= producto.description %></textarea>
                        <% if (locals.errors && errors.description) { %>
                            <p style="color: red;"><%= errors.description.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-div">
                        <label class="createLabel" for="">Imagen</label>
                        <input type="file" name="image" id="fileProduct" accept=".png, .jpg, .jpeg">
                        <% if (locals.errors && errors.image) { %>
                            <p style="color: red;"><%= errors.image.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-div">
                        <label class="createLabel" for="">Precio </label>
                        <input type="number"  name="price" id="precio" value="<%= parseInt(producto.price) %>" required>
                        <% if (locals.errors && errors.price) { %>
                            <p style="color: red;"><%= errors.price.msg %></p>
                        <% } %>
                    </div>
                    <div class="form-div" >
                        <label class="createLabel" for="enOferta">En oferta </label>
                        <div class="off">
                            <% if (producto.enOferta == 1) { %>
                                <input  class="check" type="checkbox" name="enOferta" id="check" checked value=1>
                                <% } else { %>
                                    <input class="check" type="checkbox" name="enOferta" id="check" value=1>
                                <% } %> 
                            <label class="lbl" for="check"></label>
                            <% if (locals.errors && errors.discount) { %>
                                <p style="color: red;"><%= errors.discount.msg %></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-div" id="descuento" style="display: <%= producto.enOferta === 1 ? 'block' : 'none' %>;">
                        <label class="createLabel" class="createLabel">Descuento </label>
                        <input type="number" name="discount" value="<%= parseInt(producto.discount) %>" min="1" max="100">
                    </div>

                    <div class="form-div" id="categoria">
                        <label class="createLabel">Categoria</label>
                        <select name="category" class="createLabel" required>
                            <option value="">Selecciona una categoria</option>
                            <option value=3 <%= producto.category_id == 3 ? 'selected' : "" %>>Mouse y teclados</option>
                            <option value=2 <%= producto.category_id == 2 ? 'selected' : "" %>>Audio y video</option>
                            <option value=1 <%= producto.category_id == 1 ? 'selected' : "" %>>Hardware</option>  
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <p style="color: red;"><%= errors.category.msg %></p>
                        <% } %>
                    </div>

                     <div class="form-div" id="tipo">
                        <label for="" class="createLabel">Tipo de producto</label>
                        <select name="type" id="type" class="createLabel" required>
                            <option value="">Seleccione un tipo de producto</option>
                            <% tipos.forEach(tipo => { %>
                                <option <%= producto.type_id == tipo.id ? 'selected' : "" %> value="<%= tipo.id %>"><%= tipo.name %> </option>
                            <% }) %>
                        </select>
                        <% if (locals.errors && errors.type) { %>
                            <p style="color: red;"><%= errors.category.msg %></p>
                        <% } %>
                    </div>

                    <div class="form-div" id="marca">
                        <label for="" class="createLabel">Marca</label>
                        <select name="brand" id="brand" class="createLabel" required>
                            <option value="">Seleccione una marca</option>
                            <% marcas.forEach(marca => { %>
                                <option <%= producto.brand_id == marca.id ? 'selected' : "" %> value="<%= marca.id %>"><%= marca.name %> </option>
                            <% }) %>
                        </select>
                        <% if (locals.errors && errors.brand) { %>
                            <p style="color: red;"><%= errors.brand.msg %></p>
                        <% } %>
                    </div>

                    <div class="buttonDiv">
                        <button type="submit" class="buttonSave">Guardar Producto</button>
                    </div>
               
            </div>

            </form>
        </section>

        
    </main>
    <%- include("./partials/footer.ejs") %> 
    <script src="/js/burger.js"></script>
    <script src="/js/check.js"></script>
</body>
</html>
