<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Iniciar Sesion</title>
</head>
<body>
    <header class="login">
        <figure>
            <a href="/"><img src="/img/logo.png" alt="logo" class="logo"></a>
        </figure>
        <a href="/"><i class="fa-solid fa-x close"></i></a>
    </header>
    <main class="login">
        <aside class="login">
            <figure>
                <a href="/"><img src="/img/logo.png" alt="logo" class="logo"></a>
            </figure>
            <img src="/img/gpu.png" alt="gpu" class="gpu">
        </aside>
        <div class="login-container">
            <div class="links">
                <a href="#" class="login active">Iniciar Sesión</a>
                <a href="register" class="signup">Registrarse</a>
            </div>
            <form action="/users/login" method="POST">
                <input type="email" name="email" id="email" placeholder="Correo Electronico" value="<%= locals.oldData && oldData.email ? oldData.email : "" %> ">
                <span id="emailFeedback"></span>
                <% if (locals.errors && errors.email) { %>
                    <h3 style="color: red;"><%= errors.email.msg %></h3>
                <% } %>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <span id="passwordFeedback"></span>
                <% if (locals.errors && errors.password) { %>
                    <h3 style="color: red;"><%= errors.password.msg %></h3>
                <% } %>
                <input type="submit" value="Iniciar Sesión" class="submit">
                <label class="remember">
                    <input type="checkbox" id="checkbox" name="remember" <%= locals.oldData && oldData.remember ? 'checked' : "" %> >
                    Recordar contraseña
                </label>
            </form>
            <a href="#" class="forgot">Olvidé mi contraseña</a>
        </div>
    </main>
    <script src="/js/login.js"></script>
</body>
</html>