<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Productos</title>
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <h2 class="divisor" style="margin-top: 0;">TODOS LOS PRODUCTOS</h2>
        <section class="products">
            <% if (productos.length > 0) { %>
                <% productos.forEach(producto => { %>
                    <%- include("./partials/producto.ejs", {producto}) %> 
                <% }) %>
            <% } %>
        </section>
        <section class="pages">
            <% if (productos.length > 0) { %>
                <% if (pagina > 1) { %>
                    <a href="/productos/lista/<%= pagina - 1 %>"><i class="fa-solid fa-arrow-left"></i></a>
                <% } %>
                <% if (pagina < todosLosProductos / 6) { %>
                    <a href="/productos/lista/<%= pagina + 1 %>"><i class="fa-solid fa-arrow-right"></i></a>
                <% } %>
            <% } %>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %> 
    <script src="/js/burger.js"></script>
</body>
</html>