<% if (producto.enOferta == 1) { %>
    <article>
        <a href="/productos/detalles/<%= producto.id %>">
            <div class="details">
                <h4><%= producto.name %> </h4>
                <p>$<%= Math.floor(producto.price - (producto.price * (producto.discount / 100))) %>  <span>$<%= producto.price %> </span></p>
            </div>
            <img src="/img/Productos/<%= producto.image %> " alt="<%= producto.name %>">
        </a>
    </article>
<% } else { %>
    <article>
        <a href="/productos/detalles/<%= producto.id %>">
            <div class="details">
                <h4><%= producto.name %> </h4>
                <p>$<%= producto.price %> </p>
            </div>
            <img src="/img/Productos/<%= producto.image %> " alt="<%= producto.name %>">
        </a>
    </article>
<% } %> 